<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.maintainsteward">

    <!-- iBeancon功能所需权限 -->;
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!--微信支付权限-->

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--地图定位-->

    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>

    <!--读取通讯录-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:replace="android:icon">


        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f954271a02568a9b6749749ca6fc9d18" />


        <activity android:name=".activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--配置 个推服务-->
        <service
            android:name=".service.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />

        <service android:name=".service.DemoIntentService" />


        <!--高德地图-->
        <service android:name="com.amap.api.location.APSService"></service>


        <!--所有的activty 的父类-->
        <activity
            android:name=".base.BaseActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!--微信支付-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <!--登录-->
        <activity android:name=".activity.LoginActivity" />

        <!--<activity android:name=".activity.LoadingActivity"/>-->

        <!--添加地址-->
        <activity android:name=".activity.AddAddressActivity" />
        <!--地址管理-->
        <activity android:name=".activity.AddressManagerActivity" />

        <!--搜索页面-->
        <activity android:name=".activity.SearchActivity" />

        <!--搜索关键字显示页面-->
        <activity android:name=".activity.SearInfoActivity" />


        <!--主页面-->
        <activity android:name=".main.MainActivity" />

        <!--选择位置界面-->
        <activity android:name=".activity.ChooseLocationActivity" />

        <!--选择区界面-->
        <activity android:name=".activity.DistrictActivity" />

        <!--服务详情界面-->
        <activity android:name=".activity.ServiceInfoActivity" />

        <!--立即预约-->
        <activity android:name=".activity.LiJiYuYueActivity" />

        <!--快速发布页面-->
        <activity android:name=".activity.KuaiSuFaBuActivity" />

        <!--下单成功页面-->
        <activity android:name=".activity.OrderSucessActivity" />

        <!--订单列表页面-->
        <activity android:name=".activity.OrderActivity" />

        <!--订单详情页面-->
        <activity android:name=".activity.OrderMessageActivity" />

        <!--用户信息页面-->
        <activity android:name=".activity.UserActivity" />

        <!--修改昵称页面-->
        <activity android:name=".activity.UpdateUserNameActivity" />

        <!--修改手机号码页面-->
        <activity android:name=".activity.UpdatePhoneActivity" />

    </application>

</manifest>