<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.maintainsteward2">

    <!-- iBeancon功能所需权限 -->;
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!--微信支付权限-->

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--地图定位-->

    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>

    <!--读取通讯录-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo3"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:replace="android:icon">


        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f954271a02568a9b6749749ca6fc9d18" />


        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--配置 个推服务-->
        <service
            android:name=".service.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />

        <service android:name=".service.DemoIntentService" />


        <!--高德地图-->
        <service android:name="com.amap.api.location.APSService"></service>


        <!--所有的activty 的父类-->
        <activity
            android:name=".base.BaseActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!--引导页-->
        <activity android:name=".activity.GuidActivity" />

        <!--登录-->
        <activity android:name=".activity.LoginActivity" />

        <!--加载页-->
        <activity android:name=".activity.LoadingActivity" />

        <!--添加地址-->
        <activity android:name=".activity.AddAddressActivity" />
        <!--地址管理-->
        <activity android:name=".activity.AddressManagerActivity" />

        <!--搜索页面-->
        <activity android:name=".activity.SearchActivity" />

        <!--搜索关键字显示页面-->
        <activity android:name=".activity.SearInfoActivity" />


        <!--主页面-->
        <!--<activity android:name=".main.MainActivity" />-->

        <!--选择位置界面-->
        <activity android:name=".activity.ChooseLocationActivity" />

        <!--选择区界面-->
        <activity android:name=".activity.DistrictActivity" />

        <!--服务详情界面-->
        <activity android:name=".activity.ServiceInfoActivity" />

        <!--立即预约-->
        <activity android:name=".activity.LiJiYuYueActivity" />

        <!--快速发布页面-->
        <activity android:name=".activity.KuaiSuFaBuActivity" />

        <!--下单成功页面-->
        <activity android:name=".activity.OrderSucessActivity" />

        <!--订单列表页面-->
        <activity android:name=".activity.OrderActivity" />

        <!--订单详情页面-->
        <activity android:name=".activity.OrderMessageActivity" />

        <!--用户信息页面-->
        <activity android:name=".activity.UserActivity" />

        <!--修改昵称页面-->
        <activity android:name=".activity.UpdateUserNameActivity" />

        <!--修改手机号码页面-->
        <activity android:name=".activity.UpdatePhoneActivity" />

        <!--设置支付密码页面-->
        <activity android:name=".activity.SetPayPasswordActivity" />

        <!--修改支付密码页面-->
        <activity android:name=".activity.UpdatePayPasswordActivity" />

        <!--钱包页面-->
        <activity android:name=".activity.MyQianBaoActivity" />

        <!--余额页面-->
        <activity android:name=".activity.MyYueActivity" />

        <!--卡卷页面-->
        <activity android:name=".activity.MyKaJuanActivity" />


        <!--优惠券页面-->
        <activity android:name=".activity.YouHuiQuanActivity" />

        <!--引导页-->
        <!--<activity android:name=".activity.GuidActivity" />-->
        <!--启动页-->
        <activity android:name=".activity.QiDongActivity" />

        <!--精选排行页面-->
        <activity android:name=".activity.JingXuanPaiHangActivity" />


        <!--微信回调-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <!--android:launchMode="singleTop"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--<data android:scheme="sdksample" />-->
            <!--</intent-filter>-->
        </activity>

        <!--协议页面-->
        <activity android:name=".activity.XieYiActivity" />

        <!--选择支付页面-->
        <activity android:name=".activity.PayChooseActivity" />

        <!--微信支付回调-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true" />


        <!--365套餐页面-->
        <activity android:name=".activity.TaoCanActivity" />

        <!--填写维修信息页面-->
        <activity android:name=".activity.WriteTaoCanInfoActivity" />

        <!--购买套餐成功页面-->
        <activity android:name=".activity.TaoCanGouMaiSucessActivity" />

        <!--热点头条页面-->
        <activity android:name=".activity.HotNewsActivity" />

        <!--快速发布页面-->
        <activity android:name=".activity.KuaiSuFaBuActivity" />

        <!--快速发布成功后的列表页面-->

        <!--热点消息网页页面-->
        <activity android:name=".activity.NewsWebActivity" />

        <!--我的粉丝页面-->
        <activity android:name=".activity.MyFenSiActivity" />

        <!--粉丝排行页面-->
        <activity android:name=".activity.MyPaiHangActivity" />

        <!--活动说明页面-->
        <activity android:name=".activity.HuoDongDescriptionActivity" />

        <!--下级粉丝页面-->
        <activity android:name=".activity.NextFenSiActivity" />

        <!--自选套餐页面-->
        <activity android:name=".activity.ZiXuanTaoCanActivity" />

        <!--套餐选择页面-->
        <activity android:name=".activity.TaoCanChooseActivity" />

        <!--填写自选套餐购买信息页面-->
        <activity android:name=".activity.ZiXuanXinXiActivity" />

        <!--意见反馈页面-->
        <activity android:name=".activity.SugestionActivity" />

        <!--填写评价页面-->
        <activity android:name=".activity.PingJiaActivity" />

        <!--我的评价页面-->
        <activity android:name=".activity.MyPingJiaActivity" />

        <!--评价列表照片预览页面-->
        <activity
            android:name=".activity.PhotoShowActivity"
            android:theme="@android:style/Theme.Dialog" />

        <!--快速发布列表-->
        <activity android:name=".activity.MyFaBuListActivity" />

        <!--轮播图条目页面-->
        <activity android:name=".activity.BannerWebActivity" />

        <!--提现页面-->
        <activity android:name=".activity.TiXianActivity" />
    </application>

</manifest>